/* ============================ Navbar ============================ */
#line1,
#line2,
#line3 {
    transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

#hamberger-bars:hover #line1 {
    transform: rotate(45deg) translate(-5px, 0px);
    transform-origin: center;
}

/* ============================ Navbar ============================ */