/* ============================ Navbar ============================ */
#line1,
#line2,
#line3 {
    transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

#line1 {
    transform-origin: top left;
}

#line2 {
    transform-origin: top right;
}


